.pagination {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}


.pagination__btns {
  display: flex;
  gap: 25px;
}

.pagination__btn,
.pagination__active {
  border: none;
  background: var(--white);
  width: 30px;
  height: 30px;
  color: var(--accent-purple);
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}



.pagination__arrow {
  border: none;
  background: transparent;
  width: 30px;
  height: 30px;
  color: var(--accent-purple);
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination__arrow:disabled {
  color: var(--grey-bg);
}

.pagination__active:disabled {
  background: var(--accent-purple-light);
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .pagination__btn {
    display: none;
  }

  .pagination__active:disabled {
    background: none;
    color: var(--accent-purple);
    font-size: 30px;
  }
}