.img__wrapper {
  height: auto;
  width: 55%;
  position: relative;
  aspect-ratio: 1.5;
  background: var(--cart-bg);

}

.img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1000px) {
  .img__wrapper {
    width: 100%;
    background: var(--cart-bg);
    aspect-ratio: 2/1;
  }
}